{% extends 'base.html' %}

{% block geo_api_script %}
    {% load static %}
    <script src="{% static 'event_reverse_geocode.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div id="map" class="container__map"></div>
    <div class="container__form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="container__submit" type="submit">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}
